body {
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: normal;
    font-family: "PT Sans","Arial", sans-serif;
    text-transform:uppercase;
}

h1,h2 {
    font-size:21px;
    line-height: 21px;
    font-weight:bold;
}

h1 {
    line-height: 26px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-navigation {
    margin: 0 6%;
}

.main-navigation ul {
    position: relative;
    margin: 0;
    padding: 0;
}

.main-navigation ul li {
    display: inline-block;
    list-style: none;
    width: 20%;
    padding: 21px 0;
}

.main-navigation ul li:nth-child(3) {
    margin-left: 16%;
    text-align: right;
}

.main-navigation ul li:nth-child(4) {
    text-align: right;
}


.main-navigation ul li a {
    text-decoration: none;
    font-weight: bold;
    color:#000;
    font-size: 14px;
}


.logo-button {
    text-align: center;
}

.main-picture {
    background: url("../img/main-background.jpg") no-repeat;
    text-align: center;
    padding: 75px 0;
}
.logo-button {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -65px;
    z-index: 2;
}

.welcome {
    text-align: center;
    padding: 65px 355px 55px;
}

.feature {
    width: 100%;
    text-align: center;
    background: #fff;
}

.feature-blue{
    width: 33%;
    float: left;
    background: #81b3d2;
    color: white;
    min-height: 256px;
    padding: 20px 60px;
    box-sizing: border-box;
}

.feature-blue h2 {
    padding: 0px 60px;
}

.feature-img-right {
    background: url("../img/feature-background-1.jpg") 100% 0;
}

.feature-img-left {
    background: url("../img/feature-background-2.jpg");
}


.feature-right {
    float: right;
}

.feature-block {
    width:33%;
    height: 330px;
    float: left;
    padding: 60px 55px 0;
    box-sizing: border-box;
}

.feature-gray {
    background: #eeeeee;
}

.feature-gray .feature-block {
    height: 256px;
    padding: 50px 60px;
}

.feature-gray .feature-block h2 {
    margin: 0 69px;
}

.search-form-holder {
    text-align: center;
}

.hashtag-footer, .social-footer, .footer-copyright {
    float: left;
    width: 33%;
    min-height: 120px;
    text-align: center;
    border: 1px solid blue;
    vertical-align: middle;
    padding-top: 36px;
}

.hashtag-footer a {
    text-decoration: none;
    color: #000;
}

.search-form {
    display: none;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.filter-form {
    min-height: 217px;
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    width: 100%;
}

.filter-form ul {
    padding: 0;
}

.filter-form .inputs {
    float: left;
    color: #fff;
}

.filter-form .inputs h2 {
    font-size: 16px;
}

.inputs:first-child {
    margin-left: 73px;
}

.filter-form .inputs:last-child {
    float: right;
    margin-right: 73px;
}

.filter-form .inputs ul li {
    list-style: none;
}
 
.sort {
    width: 100%;
}

.sort-title {
    float: left;
    width: 207px;
    border: 2px solid red;
    min-height: 86px;
}

.sort-filter {
    float: left;
    width: 393px;
    border: 2px solid red;
    min-height: 86px;
}

.sort-filter span {
    display: inline-block;
    vertical-align: middle;
}

.sort-filter ul {
    margin: 0;
    padding: 0;
}
.sort-filter ul li {
    list-style: none;
    display: inline-block;
}

.sort-arrow {
    float: right;
    width: 170px;
    border: 2px solid red;
    min-height: 86px;
}

.result-item {
    width: 100%;
}

.result-item-image {
    float: left;
}

.result-item-content {
    float: left;
}

.result-item-rating{
    float: right;
}

